<nav class="bg-white shadow-md py-2">
  <div class="container mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex items-center">
        <%= link_to "Daynote", root_url, class: "text-2xl font-bold" %>
      </div>
      <div>
        <%= form_with url: entries_path, method: :get do |form| %>
          <div class="relative">
            <%= form.text_field :q, placeholder: "Search entries", class: "rounded-md px-3 py-2 w-full bg-white border border-gray-400 focus:outline-none focus:border-blue-500" %>
            <%= submit_tag "Search", class: "absolute inset-y-0 right-0 flex items-center pr-3 text-gray-700" %>
          </div>
        <% end %>
      </div>
      <div class="flex items-center">
        <% if current_user.admin? %>
          <%= link_to "Settings", setting_path(Setting.instance), class: "rounded-md px-3 py-2 mr-2 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:bg-gray-200" %>
        <% end %>
        <%= link_to Current.user.email_address, Current.user, class: "rounded-md px-3 py-2 mr-2 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:bg-gray-200" %>
        <%= link_to "Log out", session_path, data: { turbo_method: :delete }, class: "rounded-md px-3 py-2 bg-red-500 text-white hover:bg-red-600 focus:outline-none focus:bg-red-600" %>
      </div>
    </div>
  </div>
</nav>
