<div id="<%= dom_id setting %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Insight prompt:</strong>
    <%= setting.insight_prompt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Image prompt:</strong>
    <%= setting.image_prompt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Query prompt:</strong>
    <%= setting.query_prompt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Reply prompt:</strong>
    <%= setting.reply_prompt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Summary prompt:</strong>
    <%= setting.summary_prompt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Admin mode:</strong>
    <%= setting.admin_mode %>
  </p>
</div>
